<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/app.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="servers">
            <!-- Lista de servidores -->
            <input type="submit" value="Sevidor">
        </div>
        <div id="channels">
            <!-- Lista de canales -->
        </div>

        <div id="message" class="chat-container">
            <div id="chat-display" class="chat-display"></div>
            <!-- Lista de mensajes -->
            <div class="input-container" >
                <input type="text" id="message-input"placeholder="Escribe un mensaje...">
                <button id="send-button">Enviar</button>
            </div>
        </div>
        <!--
        <div class="chat-container">
            <div id="chat-display" class="chat-display"></div>
            <div class="input-container">
               <input type="text" id="message-input" placeholder="Escribe un mensaje">
               <button id="send-button">Enviar</button> 
            </div>
        </div> -->


    </div>
    <script src="../scripts/app.js"></script>
</body>
</html>