<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>index</title>
</head>
<body>
    <header>
        <div class="logo"><span>DiscTeam</span></div>
        <nav>
            <a href="#">Download</a>
            <a href="#">Participantes</a>
            <a href="#">Quienes Somos</a>
            <a href="#">Trabaja con Nosotros</a>
        </nav>
        <div class="login">
            <a href="/templates/login.html">Login</a>
        </div>
        
    </header>
    <div>

    </div>

    <div>

    </div>
    <div>

    </div>
</body>
</html>


