<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="contenedor">
        <h2>Login</h2>
        <form id="loginForm" name="loginForm">
            <div class="elemento">
                <label for="username">Usuario: </label>
                <input type="text" id="username" name="username" required="true">
            </div>
            <div class="elemento">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required="true">
            </div>
            <div class="elemento">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required="true">
            </div>
            <a href="../templates/register.html">Registrarse</a>
            <div class="elemento">
                <input type="submit" value="enviar">
            </div>
        </form>

        <div id="message"></div>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>